{% load static %} <!-- carregando static -->
<!DOCTYPE html>
<html lang="pt">

<head>
  <!-- head -->
  {% include 'parciais/_head.html' %} <!-- incluindo arquivo na pagina -->
  <title>Template Bootstrap</title>

</head>

<body>
  <!-- nav -->
  {% include 'parciais/_nav.html' %} <!-- incluindo arquivo na pagina -->


  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
            {% block conteudo %}{%endblock%}         
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'paginas/vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'paginas/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
